<%- include("partials/header") %>

<h1>About</h1>
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h3>
              Hello...  My name is Mas, I have been a developer in the last 4 years with powershell, batch file and system admin related tasks and evolved to web development programming with NodeJS, React, Laravel, Mongo, mysql. Since 2021 I have been consulting clients for Web Development needs with webopsit.tech on the side and now my focus is with Full Stack Development with NodeJS, React and Mongodb.
          </h3>
          
          <div><a href="/" class="btn btn-primary">Get Started</a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
    
    <span>
        <strong>
        When I am not working and coding my hobbies include spending time with family, reading, hiking and going to the beach.
        </strong>
    </span>
    
    <p>Favorite Editor: <strong>VS Code!</strong></p>
    <p>Favorite VS Code Extension: <strong>Babel Javascript</strong></p>
    <p>Can't forget about good ole Notepad++</p>
    <p>Favorite Programming Language C++.  <strong>Memory Managment!</strong></p>
    <p>Favorite Web Programming Language: <strong>Javascript!</strong></p>
    <p>Favorite Scripting Language: <strong>Powershell</strong></p>
    

<%- include("partials/footer") %>