<%- include('partials/authheader') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome admin</h1>

  
    <hr>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <a class="btn btn-dark btn-lg" href="/compose" role="button">Create New Blog</a>
    <a class="btn btn-dark btn-lg" href="/editpost" role="button">Edit Admin Posts</a>
    
  </div>
</div>

<%- include('partials/footer') %>
